
/* Käytössä olevat värit:
   F7F7FF, Ghost white
   C49991, Tuscany - pinkish
   279AF1, Carolina Blue
   60656F, Black coral - harmaa
   131112, Smoky Black - musta


   fontit:
   font-family: 'Montserrat', sans-serif; title text
   font-family: 'Source Sans Pro', sans-serif; plane text
   */


html, body{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    flex-direction: column;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    flex-flow: row wrap;
    justify-content: center;
}

#navId{
    background-color: #f7f7ff;
    min-height: 60px;
    width: 100%;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    top: 70px;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.divFlex{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}
#tpCk{
    margin: auto 25px auto 5px;
}
#evntCk{
    margin: auto 25px auto 5px;
}
#lippuCk{
    margin: auto 25px auto 5px;
}
#sortNappi{
    margin: 5px 25px;
    border: none;
    background-color: #279AF1;
    color: #f7f7ff;
    text-align: center;
    border-radius: 7px;
    padding: 5px;
}
#sortNappi:hover{
    background-color: gray;
    cursor: pointer;
}
#paikatCk{
    margin: auto 25px auto 5px;
}
#paikkaiconCk{
    margin: auto 25px auto 5px;
}
#paikatInput{
    width: 60px;
    margin-left: 5px;
}
#tapahtumaIcon{
    margin-left: 25px;
}

header{
    background-color: #131112;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    padding: 10px;
    z-index: 2;
    top: 0;
    left: 0;
}
#menuIcon{
    flex-wrap: wrap;
    height: 80%;
    width: 50px;
    position: relative;
    top: 5px;
    left: 0;
}
#menuIcon:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
}
#siteLogo{
    height: 40px;
}
#placeHolder{
    height: 40px;
    position: absolute;
}

#kartta{
    z-index: 1;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    margin-top: 25px;
    position: absolute;
    top: 0;
    left: 0;
}
#mapContainer{
    width: 45%;
    border-radius: 10px;
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    position: relative;
}
.visibleNav{
    display: flex;
}
#tapahtumaCheck{
    position: relative;
    top: 2px;
}
#tapahtumaCheck:hover{
    cursor: pointer;
}
#eventCheck{
    position: relative;
    top: 2px;
}
#eventCheck:hover{
    cursor: pointer;
}
#lipunmyyntiCheck{
    position: relative;
    top: 2px;
}
#lipunmyyntiCheck:hover{
    cursor: pointer;
}
#paikatBox{
    position: relative;
    top: 2px;
}
#paikatCheck:hover{
    cursor: pointer;
}
.hiddenNav{
    display: none;
}

footer{
    text-align: center;
    background-color: #279AF1;
    width: 45%;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 25px;
}
.footerHidden{
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
}
.footerVisible{
    visibility: visible;
}

#youtubeVideo{
    width: 100%;
    margin-top: 25px;
    position: absolute;
    top: 625px;
    margin-bottom: 25px;
    border-radius: 10px;
}
#tapahtumatiedotT{
    display: flex;
    flex-wrap: wrap;
}
#reittiopasKuva{
    background-color: #f7f7ff;
    border-radius: 25px;
    width: 25%;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    min-width: 150px;
}
#reittiopasKuva:hover{
    box-shadow: 5px 5px gray;
}
#googleIcon{
    width: 5%;
    margin: 5px auto 25px;
    position: relative;
    min-width: 50px;
}
#googleIcon:hover{
    box-shadow: 5px 5px gray;
    border-radius: 15px;
}
#reittiopasLinkki{
    width: 25%;
    padding: 5px;
}
#googleNav{
    width: 5%;
}
#tapahtumaKuva{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    background-color: #131112;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

#tapahtumaKuva img{
    width: 100%;
}
#tapahtumaKuva figure{
    width: 30%;
   position: relative;
    margin:  25px auto;
}
.tapahtumatiedotT{
    width: 100%;
}
#tapahtumaTeksti{
    width: 80%;
    margin: 25px auto 5px;
    background-color: #f7f7ff;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
#tapahtumaLinkki{
    color: #131112;
    text-decoration: none;
}
#tapahtumaLinkki:visited{
    text-decoration: none;
}
#tapahtumaLinkki:hover{
    background-color: gray;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
}
#tapahtumanNimiT{
    margin: 25px auto;
    font-family: 'Montserrat', sans-serif;
}
#tapahtumanAjankohta{
    margin: 15px auto;
}
#tapahtumanOsoite{
    margin-top: 10px;
}
#tapahtumanKaupunkiT{
    margin-top: 25px;
    margin-bottom: 10px;
}
#tapahtumanSummary{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}
.tekstiVali{
    display: block;
}
.copyrightHolder{
    color: #f7f7ff;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 1000px) {
    footer{
        width: 90%;
        position: absolute;
        top: 1100px;
        margin: 25px 5% 25px 5%;
    }
    #mapContainer{
        width: 90%;
        margin: 0;
    }
    #kartta{
        width: 100%;
        margin-top: 25px;
        margin-right: 0;
        margin-left: 0;
    }
    #youtubeVideo{
        width: 100%;
        margin-top: 25px;
        margin-right: 0;
        margin-left: 0;
    }
}